{% extends "base/base.html" %}

{% block title %}
	Ingresar Lote
{% endblock title %}
{% block breadcrumbs %}
    <ul class="breadcrumb">
        <li><a href="{% url 'farmacia_index' %}">Inicio</a></li>
        <li><a>Farmacia</a></li>
        <li><a href="{% url 'lote_List' %}">Lotes</a></li>
        <li><a>Comprar Lote</a></li>
    </ul>
{% endblock breadcrumbs %}
{% block content %}
<div class="col-md-offset-3">
        <div class="page-header">
            <h1>Comprar Lote de Medicamentos</h1>
        </div>
    </div>
<div class="container-fluid">
        <div class="row">
            <div class="col-md-offset-2 col-md-6">
                <form action="" method="POST">
                    {% csrf_token %} 
                        <div class="col-md-6">
                            <p ><b>{{ form.id_medicamento.label}}</b></p>
                            {{ form.id_medicamento}}
                        </div>
                        <div class="col-md-6">   
                            <p ><b>{{ form.id_empresa.label}}</b></p>
                            {{ form.id_empresa}}
                        </div>
                            
                            {{ form.fecha_compra.errors}}
                        <p><b>{{ form.fecha_compra.label}}</b></p>
                            {{ form.fecha_compra}}
                        <p><b>{{ form.cantidad.label}}</b></p>
                            {{ form.cantidad}}   
                            
                            <p><b>{{ form.precio_unitario.label}}</b></p>
                                {{ form.precio_unitario}} 
                    <br/>
                    <br/>
                    <br/>
                    <div class="col-md-offset-4">
                        <input class="btn btn-success col-md-3" value="Aceptar" type="submit">
                        <a href="{% url 'lote_List' %}" class="btn btn-info pull-right col-md-5">Regresar al listado</a>
                    </div>
                </form>
                </div>
            </div>    
    </div>
{% endblock content %}