{% extends "base/base.html" %}

{% block title %}
Tipos de Medicamentos
{% endblock title %}

{% block page_name %}
Tipos de Medicamentos
{% endblock page_name  %} 

{% block page_description %}
Puede gestionar los tipos de medicamentos aqui, sea por su Tipo o por Efectos Secundarios
{% endblock page_description %}

{% block breadcrumbs %}
    <ul class="breadcrumb">
        <li><a href="{% url 'farmacia_index' %}">Inicio</a></li>
        <li><a>Farmacia</a></li>
        <li class="active"><a>Tipo de Medicamentos</a></li>
    </ul>
{% endblock breadcrumbs %}

{% block content %}
<div class="container-fluid">
    <div class="row">
        <a href="{% url 'tipo_medicamentos_create' %}" class="btn btn-info pull-right">Crear Nuevo Tipo de Medicamento</a><br><br>
        <div class="table-responsive">
        {% if tipo_medicamentos %}
            <table class="table table-hover table-bordered">
                <thead>
                    <tr>
                        <th class="hidden">id</th>
                        <th class="col">Tipo de Medicamento</th>
                        <th class="col">Acciones</th>
                    </tr>
                </thead>
                <tbody>
                {% for tipo_medicamento in tipo_medicamentos %}
                    <tr>
                        <td scope="row" class="hidden" >{{tipo_medicamento.id_tipo}}</td>
                        <td>{{tipo_medicamento.tipo}}</td>
                        <td><a name="" id="" class="btn btn-primary" href="{% url 'tipo_medicamentos_update' tipo_medicamento.id_tipo %}" role="button">Editar</a> &nbsp&nbsp <a name="" id="" class="btn btn-danger" href="{% url 'tipo_medicamentos_delete' tipo_medicamento.id_tipo %}" role="button">Eliminar</a></td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        {% else %}
            <h3>No hay registros de Tipos de Medicamentos en estos momentos</h3>
        {% endif %}    
        </div>
    </div>
    
    {% if is_paginated %}
    <ul class="pagination">
        {% if page_obj.has_previous %}
        <li><a href="?page={{ page_obj.previous_page_number }}">&laquo;</a></li>
        {% else %}
        <li class="disabled"><span>&laquo;</span></li>
        {% endif %}
        {% for i in paginator.page_range %}
        {% if page_obj.number == i %}
            <li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
        {% else %}
            <li><a href="?page={{ i }}">{{ i }}</a></li>
        {% endif %}
        {% endfor %}
        {% if page_obj.has_next %}
        <li><a href="?page={{ page_obj.next_page_number }}">&raquo;</a></li>
        {% else %}
        <li class="disabled"><span>&raquo;</span></li>
        {% endif %}
    </ul>
    {% endif %}
</div>
{% endblock content %}