{% extends "base/base.html" %}

{% block title %}
	Crear Descuento
{% endblock title %}
{% block breadcrumbs %}
    <ul class="breadcrumb">
        <li><a href="{% url 'farmacia_index' %}">Inicio</a></li>
        <li><a>Farmacia</a></li>
        <li><a href="{% url 'descuento_List' %}">Descuentos</a></li>
        <li><a>Crear o editar Descuento</a></li>
    </ul>
{% endblock breadcrumbs %}
{% block content %}
<div class="col-md-offset-3">
        <div class="page-header">
            <h1>Descuento</h1>
        </div>
    </div>
<div class="container-fluid">
        <div class="row">
            <div class="col-md-offset-2 col-md-6"><br><br>
                <form action="" method="POST">
                    {% csrf_token %} 
                    
                        <p><b>{{ form.id_descuento.label}}</b></p>
                            {{ form.id_descuento}}
                           <br>
                        <p><b>{{ form.nombre.label}}</b></p>
                            {{ form.nombre}}
                            <br>

                        <p><b>{{ form.field_desc.label}}</b></p>
                            {{ form.field_desc}}   
                            <br>
                            {{ form.fecha_inicio.errors}}
                        <p><b>{{ form.fecha_inicio.label}}</b></p>
                            {{ form.fecha_inicio}}
                            <br>
                            {{ form.fecha_fin.errors}}
                        <p><b>{{ form.fecha_fin.label}}</b></p>
                                {{ form.fecha_fin}}
                                <br>
                    <br/>
                    <br/>
                    <br/>
                    <div class="col-md-offset-4">
                        <input class="btn btn-success col-md-3" value="Aceptar" type="submit">
                        <a href="{% url 'descuento_List' %}" class="btn btn-info pull-right col-md-5">Regresar al listado</a>
                    </div>
                </form>
                </div>
            </div>    
    </div>
{% endblock content %}