{% extends "base/base.html" %}

{# Para toda plantilla a heredar lo haran desde base/base.html y agregaran los bloques 
	title # Para el Titulo de la pagina web
	breadcrumbs # Para la navegacion del sitio
	content # Para el html de la pagina a crear
 #}
{% block title %}
	Pagina Principal
{% endblock title %}

{% block page_name %}
Farmacia: Pagina Principal
{% endblock page_name %}

{% block breadcrumbs %}
	
    <ul class="breadcrumb">
        <li><a href="{% url 'index' %}">Inicio</a></li>
        <li class="active"><a>Farmacia</a></li>
    </ul>
{% endblock breadcrumbs %}

{% block content %}
	<div class="container-fluid">
		<div class="row">
            <h2 class="text text-info">En Construccion....</h2>
            
		</div>
	</div>
{% endblock content %}