{% extends "base/base.html" %}

{# Para toda plantilla a heredar lo haran desde base/base.html y agregaran los bloques 
	title # Para el Titulo de la pagina web
	breadcrumbs # Para la navegacion del sitio
	content # Para el html de la pagina a crear
 #}
{% block title %}
	Aplicacion Farmacia
{% endblock title %}

{% block breadcrumbs %}
	
    <ul class="breadcrumb">
        <li><a href="{% url 'index' %}">Inicio</a></li>
        <li class="active"><a>Farmacia</a></li>
    </ul>

{% endblock breadcrumbs %}

{% block content %}
	<div class="container-fluid">
		<div class="row">
			<h1>Bienvenidos a la pagina principal de Farmacia TOO115</h1>
			<div class="col-md-offset-2">
				<p>Algunos enlaces utiles:</p>
					<a href="{% url 'sign_up' %}" class="col-md-3 btn btn-success">Registrarse</a><br><br>
					<a href="{% url 'login' %}" class="col-md-3 btn btn-info">Iniciar Sesion</a>
			</div>

		</div>
	</div>
{% endblock content %}