{% extends "base/base.html" %}

{% block title %}
Editar usuario
{% endblock title %}

{% block page_name %}
Editar usuario
{% endblock page_name  %} 

{% block page_description %} Edite el usuario seleccionado {% endblock page_description %}

{% block breadcrumbs %}
    <ul class="breadcrumb">
        <li><a href="{% url 'farmacia_index' %}">Inicio</a></li>
        <li><a>Farmacia</a></li>
        <li><a href="{% url 'user_list' %}" >users</a></li>
        <li class="active"><a>Editar usuario</a></li>
    </ul>
{% endblock breadcrumbs %}

{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="col-md-offset-2 col-md-6"><br><br>
            
            <form action="" method="POST">
                {% csrf_token %}
                {{ form.as_p }}
                <br>
                <input class="btn btn-success col-md-5" type="submit" value="Guardar Cambios"/> 
                <a href="{% url 'user_list' %}" class="btn btn-info pull-right col-md-5">Regresar al listado</a>
            </form>
        </div>
    </div>    
</div>
{% endblock content %}